Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore

@carlasofoliveira
carlasofoliveira
/
Project_labm5-A_Marvel
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Project_labm5-A_Marvel/marvel/marvel/src/style.css

Carla Oliveira work
Latest commit 2a93785 14 days ago
History
0 contributors
55 lines (51 sloc)  878 Bytes

html {
	height: 100vh;
	margin-left: 0%;
	font-family: sans-serif;
	box-sizing: border-box;
}
img{
	max-width:10%;
	height:auto;
	margin-right: 0%;
}
body,
#root,
.Appyoutube {
	height: 100%;
	margin-left: 0%;

}

.Appyoutube {
	display: grid;
	grid-template-columns: 70% 1fr;
	grid-template-rows: 70px auto;
}
.search-form {
	border-bottom: 20px solid antiquewhite;
	display: flex;
	justify-content: flex-start;
	padding: 0 20px;
	align-items: center;
}

.form-controls {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
}
.form-controls input[type="text"] {
	display: flex;
	border: 1px solid antiquewhite;
	flex-grow: 1;
	padding: 10px;
	border-radius: 4px;
	font-size: 16px;
}
.form-controls input[type="text"]:focus {
	outline: none;
	border-color: gray;
	box-shadow: 0 2px 5px antiquewhite;
}

.form-controls label {
	display: none;
}

.player-wrapper {
	position: relative;
	padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}

